{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %} {% endblock titulo %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
</head>

<body>
{% block body %}
{% endblock body %}

    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
</body>
</html>