{% extends 'base.html' %}
{% load static %}
{% block title %} inicio {% endblock title %}
{% block body %}
{% include 'includes/cabezal.html' %}

<!-- INICIO DE LA IMAGEN DE PORTADA -->
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
    {% for cadaImagen in imagenesPortada %}
      <!--<li>{{cadaImagen}}</li>-->    
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{{cadaImagen.imagenPortada.url}}" alt="Space">
          <figcaption class="orbit-caption">{{cadaImagen.fraseCelebre}}</figcaption>
        </figure>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
<!-- FIN DE LA IMAGEN DE PORTADA -->

<!-- BLOQUE DE BIENVENIDA -->
<div  class="grid-x align-center">
  <h1 class="cell large-8" style="font-size:30px; text-align:center;">
    Bienvenido al sistema de registro de empleados
  </h1>
  <div class="cell large-7">

    <div class="callout success">
      <h5>Proyecto:Registro y control de empleados</h5>
      <p>Este es un proyecto que se desarrollo en el curso de: Curso Django y Django rest framework de básico a profesional
        el cual yo: David Roni Hernández Beltrán esta muy contento de cursar dicho curso por que aprendi bastante, como la creacion
        de sitios web como estos
      </p>
      <a href="{% url 'persona_app:persona-verTodosEmpleados' %}">Dar clic para ver lista de empleados</a>
    </div>

  </div>
</div>
<!-- FIN DEL BLOQUE DE BIENVENIDA -->
{% endblock body %}